<!DOCTYPE <!DOCTYPE html>
<html lang= "en" ng-app="todoApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crazy Words- AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body>

    <section class="main-container" ng-controller="TodoController as $ctrl">
        <h1>TODO List</h1>
        <h2>A place to store the things you have to do!</h2>

        <input class="filter" type="text" placeholder="Filter">
        <ol>
            <li ng-repeat= "item in $ctrl.toDo track by $index"
                ng-class= "{'completed': item.completed === true}">
                <button ng-if="item.completed === false">Complete</button>
                
                <p>{{  item.task  }}</p>
            </li>
                
            <!-- </li>>Walk the dog <button class="xbut">X</button></li>
            <li>Go to the Store <button class="xbut">X</button>  </li>
            <li>Get gas <button class="xbut">X</button></li>
            <li>Wash the car <button class="xbut">X</button></li> -->
        </ol>

        <input class="submitItem" type="text" placeholder="Add your to do">

        <button type="button" class="addButton"> Add </button>
    </section>

        <!-- <form ng-submit = "$ctrl.addItem($ctrl.item);">
            <input type="text" ng-model="$ctrl.item.task">
            <input type="text" ng-model="ctrl.item.value">
            <button>Add Item</button>
        </form> -->

    

    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>   
</body>
</html>