<!DOCTYPE <!DOCTYPE html>
<html lang= "en" ng-app="todoApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crazy Words- AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body>

    <section class="main-container" ng-controller="TodoController as $ctrl">
        <h1>TODO List</h1>
        <h2>A place to store the things you have to do!</h2>

        <input class="filter" type="text" placeholder="Filter" ng-model= $ctrl.filterList>
        <ol>
            <li ng-repeat= "item in $ctrl.toDo | filter: $ctrl.filterList track by $index"
                ng-class= "{'completed': item.completed === true}">
                <button ng-if="item.completed === false"
                        ng-click="$ctrl.completeTask(item)"
                        class = "completeButton">Complete
                </button>
                
                <p>{{ item.task }}</p>
                <button ng-click="$ctrl.removeItem($index)"
                        class="xbut">X
                </button> 
            </li>
        </ol>

        <form ng-submit="$ctrl.addItem($ctrl.item)">
        
        <input ng-model="$ctrl.item.task" type="text" placeholder="Add your to do">
        <button class="addButton"> Add </button>
        
        
        </form>
    </section>

    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>   
</body>
</html>